.badge-complete {
    color: #fff;
    background-color: #FF9347;
}

.badge-trial {
    color: #fff;
    background-color: #00bc1f;
}

.badge-gro {
    color: #ffffff;
    background-color: #000000;
}

.badge-adult{
    color: #fff;
    background-color: #e9c2c8;
}

.badge-official-comic {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid ;
}

